@import "@aws-amplify/ui-react/styles.css";

:root, [data-amplify-theme] {
  --amplify-colors-background-primary: #1e1e1e;
  --amplify-colors-primary-1: #F55151;
  --amplify-colors-primary-2: #F2A154;
  --amplify-colors-primary-3: #F1DFA7;
  --amplify-colors-primary-4: #60D394;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2C2C2C !important;
  color: #1E1E1E;
  margin: 0;
  height: 100%;
}

.App {
  text-align: center;
  padding: 20px;
  min-height: 100%;
}
.App-heading {
  color: var(--primary-color);
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 1rem 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
  animation: App-logo-spin infinite 2s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-link {
  color: var(--amplify-colors-primary-1);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid var(--amplify-colors-primary-1);
  padding-bottom: 2px;
  transition: all 0.3s ease;
}

.App-link:hover {
  color: var(--amplify-colors-primary-4);
  border-bottom-color: var(--amplify-colors-primary-4);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hide choose file button */
.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/*allows for hover effect over the screenshot file button*/

.file-label:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}


.file-name {
  margin-right: 1rem;
}

.file-button {
  font-weight: bold;
}


@keyframes unicorn-rainbow {
  0% { transform: translateY(-100%) rotate(0deg); }
  100% { transform: translateY(100%) rotate(360deg); }
}


@media (prefers-color-scheme: dark) {
  [data-amplify-color-mode='system'] {
    --amplify-colors-background-primary: #1E1E1E;
  }
}

[data-amplify-color-mode='dark'] {
  --amplify-colors-background-primary: #1E1E1E;
}
